# List of IPs which are to be trusted by Crowdsec (comma separated)
CROWDSEC_TRUSTED_IPS=""

# Webhook URL to send notifications on Discord
NETDATA_DISCORD_ALARM_WEBHOOK_URL=""

# Token provided by the Forgejo to register runners
# can be shared across all runners and we --name them
# differently based on the inventory hostname
FORGEJO_RUNNER_TOKEN=""

# Hostname of the Hetzner StorageBox
RESTIC_SSH_HOSTNAME=""
# Username to access the Hetzner StorageBox
RESTIC_SSH_USERNAME=""
# Password to access the Hetzner StorageBox, we use it once to install our generated ssh-key
RESTIC_SSH_PASSWORD=""