[Unit]
Description=Tailscale Identity Provider (tsidp)

[Container]
Image=ghcr.io/tailscale/tsidp:latest
AutoUpdate=registry

ContainerName=tsidp

# Isolate the container
UserNS=auto

# Environment Variables
Secret=tsidp_ts_key,type=env,target=TS_AUTHKEY
Environment=TAILSCALE_USE_WIP_CODE=1
# TSIDP_STATE_DIR will eventually replace TS_STATE_DIR
Environment=TS_STATE_DIR=/data
Environment=TSIDP_STATE_DIR=/data
# TSIDP_HOSTNAME will evenentually replace TS_HOSTNAME
Environment=TS_HOSTNAME=idp
Environment=TSIDP_HOSTNAME=idp
Environment=TSIDP_ENABLE_STS=1
Environment=TSNET_FORCE_LOGIN=1
# This is required for when we use Tailscale OAuth but there is currently a regression.
# See: https://github.com/tailscale/tsidp/issues/159
Environment=TS_ADVERTISE_TAGS=tag:tsidp

# Volumes (Using the Podman named volume)
Volume=tsidp-data.volume:/data:U

# Permissions
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target