[Unit]
Description=Tailscale Identity Provider (tsidp)
After=network-online.target

[Container]
Image=ghcr.io/tailscale/tsidp:latest
AutoUpdate=registry

ContainerName=tsidp

# Environment Variables
Secret=tsidp_ts_key,type=env,target=TS_AUTHKEY
Environment=TAILSCALE_USE_WIP_CODE=1
Environment=TS_STATE_DIR=/data
Environment=TS_HOSTNAME=idp
Environment=TSIDP_ENABLE_STS=1
Environment=TSNET_FORCE_LOGIN=1

# Volumes (Using the Podman named volume)
Volume=tsidp-data.volume:/data

# Permissions
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target