# .env.example
HOSTNAME="example-host"
SSH_PUB_KEY="ssh-ed25519 AAAA... user@local"

# Network settings (Leave empty if using DHCP, otherwise fill for static)
MAC_ADDRESS="00:11:22:33:44:55"
IPV4_ADDRESS="192.168.1.10/24"
IPV4_GATEWAY="192.168.1.1"
