[Unit]
Description=Pomerium Identity-Aware Proxy
After=network-online.target

[Container]
Image=docker.io/pomerium/pomerium:latest
AutoUpdate=registry
ContainerName=pomerium

# Use the host network namespace so Pomerium can proxy directly to 
# local container ports mapped to 127.0.0.1
Network=host

Volume=/etc/pomerium/config.yaml:/pomerium/config.yaml:ro,z

Environment=IDP_CLIENT_ID={{ pomerium_client_id }}
Secret=pomerium_client_secret,type=env,target=IDP_CLIENT_SECRET
Secret=pomerium_cookie_secret,type=env,target=COOKIE_SECRET

# Security Lockdown
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
