---
- name: Download the installation script
  ansible.builtin.get_url:
    url: https://my-netdata.io/kickstart.sh
    dest: ~/kickstart.sh
    mode: +x
    checksum: sha256:201a378dbeb012e96fb4299e2acfb8d5dffaceb48d7953e6a4054624a9954bed
  register: netdata_script

- name: Install Netdata
  ansible.builtin.shell: |
    # Get current version or set to 'none' if not found
    OLD_VER=$(netdata -v 2>/dev/null || echo "none")

    # Run the installer
    ~/kickstart.sh --dont-wait

    # Get new version
    NEW_VER=$(netdata -v 2>/dev/null || echo "fail")

    # Compare versions to detect change
    if [ "$OLD_VER" != "$NEW_VER" ]; then
      echo "NETDATA_UPDATED_STATUS: CHANGED"
    fi
  register: netdata_install
  # Mark as changed only if our custom marker is present
  changed_when: "'NETDATA_UPDATED_STATUS: CHANGED' in netdata_install.stdout"

- name: Create health_alarm_notify.conf on parent node
  ansible.builtin.template:
    owner: root
    group: root
    mode: "0644"
    src: health_alarm_notify.conf.j2
    dest: /etc/netdata/health_alarm_notify.conf
  notify: Restart Netdata

- name: Expose Netdata through Tailscale
  ansible.builtin.command: tailscale serve --service=svc:netdata --https=443 localhost:19999
  # Tailscale serve is idempotent in configuration but doesn't report status changes simply, so we silence the change status.
  changed_when: false

- name: Setup Heartbeat Cron for Netdata
  ansible.builtin.cron:
    name: "Netdata Heartbeat"
    # Check local API (Host) -> Ping Pulsetic
    job: "curl -f -s http://127.0.0.1:19999/api/v1/info > /dev/null && curl -fsS -m 5 --retry 3 {{ heartbeat_netdata }} > /dev/null"
    minute: "*/5"
  when: (heartbeat_netdata | default('')) != ""
