[Unit]
Description=Docker-in-Docker for Forgejo Runner
Requires=ts-forgejo-runner.service
After=ts-forgejo-runner.service
BindsTo=ts-forgejo-runner.service

[Container]
Image=docker.io/library/docker:dind
AutoUpdate=registry

ContainerName=docker_dind

# Attach to the Tailscale network namespace
Network=container:ts-forgejo-runner

# Required to run dockerd inside a container
PodmanArgs=--privileged

Exec=dockerd -H tcp://0.0.0.0:2375 --tls=false

Volume=dind-data.volume:/var/lib/docker

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target