[Unit]
Description=Forgejo Runner
Requires=dind.service
After=dind.service
BindsTo=ts-forgejo-runner.service

[Container]
Image=code.forgejo.org/forgejo/runner:12
AutoUpdate=registry

ContainerName=forgejo-runner

# Attach to the Tailscale network namespace
Network=container:ts-forgejo-runner

# Run as the specific UID/GID
User=1000:1000

# Environment Variables
Environment=DOCKER_HOST=tcp://127.0.0.1:2375
Environment=FORGEJO_INSTANCE_URL=https://git.{{ tailnet_name }}.ts.net
Environment=FORGEJO_RUNNER_TOKEN={{ forgejo_runner_token | default('') }}

# Volume bind for data
Volume=forgejo-runner-data.volume:/data
# Custom Entrypoint Command
Volume=/etc/forgejo-runner/config.yml:/data/config.yml:ro
Volume=/etc/forgejo-runner/entrypoint.sh:/data/entrypoint.sh:ro

Exec=/bin/sh /data/entrypoint.sh

# Permissions
NoNewPrivileges=true
DropCapability=all
# Required for the entrypoint and privilege dropping
AddCapability=CHOWN
AddCapability=FOWNER
AddCapability=DAC_OVERRIDE
AddCapability=SETUID
AddCapability=SETGID
# Required if the runner needs to create nested namespaces for jobs
AddCapability=SYS_CHROOT
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target