[Unit]
Description=Forgejo Runner
Requires=dind.service
After=dind.service
BindsTo=ts-forgejo-runner.service

[Container]
Image=code.forgejo.org/forgejo/runner:12
AutoUpdate=registry

ContainerName=forgejo-runner

# Attach to the Tailscale network namespace
Network=container:ts-forgejo-runner
HostName=forgejo-runner-{{ inventory_hostname }}

# Run securely natively as the dynamic UID/GID
User={{ forgejo_runner_user_id }}:{{ forgejo_runner_group_id }}

# Environment Variables
Secret=forgejo_runner_token,type=env,target=FORGEJO_RUNNER_TOKEN
Environment=DOCKER_HOST=tcp://127.0.0.1:2375
Environment=FORGEJO_INSTANCE_URL=https://git.{{ tailnet_name }}.ts.net

# Volume bind for data
Volume=forgejo-runner-data.volume:/data:U

# Custom Entrypoint Command
Volume=/etc/forgejo-runner/config.yml:/data/config.yml:ro,z
Volume=/etc/forgejo-runner/entrypoint.sh:/data/entrypoint.sh:ro,z

# Map host users so the container resolves the dynamic UID correctly
Volume=/etc/passwd:/etc/passwd:ro
Volume=/etc/group:/etc/group:ro

Exec=/bin/sh /data/entrypoint.sh

# Permissions
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
