[Unit]
Description=Tailscale Sidecar for Forgejo Runner
Wants=runner.service
Before=runner.service

[Container]
Image=docker.io/tailscale/tailscale:stable
AutoUpdate=registry

ContainerName=ts-forgejo-runner
Network=forgejo-runner.network

HostName=forgejo-runner-{{ inventory_hostname }}

Secret=ts_runner_key,type=env,target=TS_AUTHKEY
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:forgejo-runner
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_ACCEPT_DNS=true

Volume=ts-forgejo-runner-data.volume:/var/lib/tailscale
Volume=/etc/forgejo-runner/serve.json:/config/serve.json:ro,z

# Permissions
NoNewPrivileges=true
DropCapability=all
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Tmpfs=/tmp

# Healthcheck
HealthCmd=tailscale status --peers=false --json | grep -q 'Online.*true'
HealthInterval=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target