client_addr =  {{ '"{{ GetInterfaceIP \\"tailscale0\\" }}"' }}
bind_addr = {{ '"{{ GetInterfaceIP \\"tailscale0\\" }}"' }}
advertise_addr = {{ '"{{ GetInterfaceIP \\"tailscale0\\" }}"' }}

server = true
bootstrap_expect = 1

ui = true