advertise {
  http = {{ '"{{ GetInterfaceIP \\"tailscale0\\" }}"' }} 
}
bind_addr = {{ '"{{ GetInterfaceIP \\"tailscale0\\" }}"' }}

client = {

  {% if inventory_hostname == "mika" -%}
  # 'mika' is an Oracle Cloud Ampere instance with 4 cores
  cpu_total_compute = 8000
  {% endif -%}

  {% if inventory_hostname == "shu" -%}
  # 'shu' is a Hetzner instance with 2 cores
  cpu_total_compute = 4000
  {% endif -%}
  
  {% if inventory_hostname != "mika" -%}
  enabled = true
  servers = ["mika:4646"]
  {% endif -%}

  cni_path = "/usr/lib/cni"

  {% if 'vaultwarden' in services -%}
  host_volume "vaultwarden-data" {
    path = "/srv/vaultwarden/vaultwarden-data"
    read_only = false
  }
  host_volume "vaultwarden-tailscale-data" {
    path = "/srv/vaultwarden/tailscale-data"
    read_only = false
  }
  {% endif -%}
  
  host_network "tailscale" {
    inteface = "tailscale0"
    reserved_ports = "22"
  }  
}

consul {
  address = {{ '"{{ GetInterfaceIP \\"tailscale0\\" }}:8500"' }}
}


plugin "docker" {
  config {
    allow_caps = [
      "net_admin"
    ]
  }
}