services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      - DOMAIN=https://vault.{{ tailnet_name }}.ts.net
      - EXPERIMENTAL_CLIENT_FEATURE_FLAGS=fido2-vault-credentials,ssh-key-vault-item,ssh-agent
      - SIGNUPS_ALLOWED=False
    volumes:
      - /srv/vaultwarden/vw-data/:/data/
    networks: 
      - caddy_network

volumes:
  tailscale-data-vaultwarden:

networks:
  caddy_network:
    name: caddy_network
    external: true