log:
  level: info

runner:
  file: .runner
  name: "{{ inventory_hostname }}-runner"
  capacity: 1
  # Environment variables injected into every job
  envs:
    # Example: DOCKER_HOST is needed if you want jobs to also be able to spawn containers (DinD)
    # DOCKER_HOST: tcp://docker:2376
  timeout: 3h
  shutdown_timeout: 3h
  fetch_interval: 2s

  labels:
{% if forgejo_runner_labels is defined %}
{% for label in forgejo_runner_labels.split(',') %}
    - "{{ label | trim }}"
{% endfor %}
{% else %}
    []
{% endif %}

cache:
  enabled: true
  dir: ""

container:
  # CRITICAL: Leave empty to use the default bridge network.
  # This ensures jobs can reach the internet and your public git domain.
  network: ""
  enable_ipv6: false
  privileged: false
  options:
  workdir_parent:
  # Allow jobs to mount any volume (required for many standard actions)
  valid_volumes:
    - '**'
  docker_host: ""
  force_pull: false

host:
  workdir_parent:
