[Unit]
Description=Restic Backup Container

[Container]
Image=docker.io/creativeprojects/resticprofile:latest
ContainerName=restic

Secret=restic_repository_passphrase,type=env,target=RESTIC_PASSWORD

Network=host

SecurityLabelDisable=true

# Mount host volumes (Read Only!)
Volume=/var/lib/containers/storage/volumes:/source/volumes:ro
Volume=/etc:/source/etc:ro

# Resticprofile Config and Cache
Volume=/etc/restic/profiles.yaml:/etc/resticprofile/profiles.yaml:ro,z
Volume=/etc/restic/ssh:/root/.ssh:ro,Z
Volume=restic-cache.volume:/root/.cache/restic

# Restic runs securely without root capabilities needed for read-only mounts
NoNewPrivileges=true
DropCapability=all
AddCapability=DAC_READ_SEARCH
AddCapability=NET_RAW
ReadOnly=true
Tmpfs=/tmp

# By default, resticprofile runs the "default" profile defined in the yaml
Exec=backup

[Service]
Type=oneshot
Restart=no
