[Unit]
Description=Tailscale Sidecar for Backrest
Wants=backrest.service
Before=backrest.service

[Container]
Image=docker.io/tailscale/tailscale:stable
AutoUpdate=registry

ContainerName=ts-backrest
HostName=backrest

Secret=ts_backrest_key,type=env,target=TS_AUTHKEY
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:backrest
Environment=TS_SERVE_CONFIG=/config/serve.json
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_HOSTNAME=backrest
Environment=TS_ACCEPT_DNS=true

Volume=ts-backrest-data.volume:/var/lib/tailscale
Volume=/etc/restic/serve.json:/config/serve.json:ro,z

NoNewPrivileges=true
DropCapability=all
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Tmpfs=/tmp
Tmpfs=/run

HealthCmd=tailscale status --peers=false --json | grep -q 'Online.*true'
HealthInterval=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
