[Unit]
Description=Caddy Web Server
After=caddy-build.service
Requires=caddy-build.service

[Container]
Image=localhost/caddy-custom:latest
ContainerName=caddy

AutoUpdate=local

{% if caddy_crowdsec_api_key != "" -%}
Secret=caddy_crowdsec_api_key,type=env,target=CADDY_CROWDSEC_API_KEY
{% endif -%}

# Essential for binding to 80/443 and proxying to localhost services
Network=host

# Configuration and Persistence
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,z
Volume=caddy-data.volume:/data
# Map host log directory so CrowdSec can still read logs
Volume=/var/log/caddy:/var/log/caddy:rw,z
# Permissions
NoNewPrivileges=true
DropCapability=all
AddCapability=NET_BIND_SERVICE
# Allow log rotation
AddCapability=DAC_OVERRIDE
AddCapability=FOWNER
AddCapability=CHOWN
ReadOnly=true
Tmpfs=/tmp
Tmpfs=/config

HealthCmd=CMD-SHELL curl -fkLsS -m 2 http://127.0.0.1:2019/metrics > /dev/null || exit 1
HealthInterval=15s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target