{
    {% if caddy_crowdsec_api_key != "" -%}
    crowdsec {
        api_key {{ caddy_crowdsec_api_key }}
    }
    {% endif -%}
    servers {
        metrics
    }
    # Global options block
    log {
        output file /var/log/caddy/caddy_main.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}

:2019 {
    metrics
}

{% if 'vaultwarden' in services -%}
vault.{{ domain_name }} {
    reverse_proxy localhost:30001
    {% if caddy_crowdsec_api_key != "" -%}
    route {
        crowdsec
    }
    {% endif -%}
    log {
        output file /var/log/caddy/vault.{{ domain_name }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif -%}
{% if 'forgejo' in services -%}
git.{{ domain_name }} {
    reverse_proxy localhost:30002
    {% if caddy_crowdsec_api_key != "" -%}
    route {
        crowdsec
    }
    {% endif -%}
    log {
        output file /var/log/caddy/git.{{ domain_name }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif -%}
{% if 'whoami' in services -%}
whoami.{{ domain_name }} {
    reverse_proxy localhost:30003
    {% if caddy_crowdsec_api_key != "" -%}
    route {
        crowdsec
    }
    {% endif -%}
    log {
        output file /var/log/caddy/whoami.{{ domain_name }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif -%}