:2019 {
    metrics
}

{% if 'vaultwarden' in services -%}
vault.maxice8.com {
    reverse_proxy localhost:30001
}
{% endif -%}
{% if 'forgejo' in services -%}
git.maxice8.com {
    reverse_proxy localhost:30002
}
{% endif -%}
{% if 'whoami' in services -%}
whoami.maxice8.com {
    reverse_proxy localhost:30003
}
{% endif -%}