[Unit]
Description=CrowdSec IDS Container
After=network-online.target

[Container]
Image=docker.io/crowdsecurity/crowdsec:latest
ContainerName=crowdsec
AutoUpdate=registry

# Network
Network=host

{% if caddy_crowdsec_api_key != "" -%}
# Auto-register Caddy Bouncer Key
Environment=BOUNCER_KEY_caddy={{ caddy_crowdsec_api_key }}
{% endif -%}

# Ensure Caddy collections are installed
Environment=COLLECTIONS=crowdsecurity/caddy

# Core Volumes
Volume=crowdsec-data.volume:/var/lib/crowdsec/data
Volume=crowdsec-config.volume:/etc/crowdsec

# Share Caddy logs (lowercase 'z' sets a shared SELinux context so both Caddy and CrowdSec can read/write)
Volume=/var/log/caddy:/var/log/caddy:ro,z

# Inject Ansible custom configurations
Volume=/opt/crowdsec-custom/acquis.d/caddy.yaml:/etc/crowdsec/acquis.d/caddy.yaml:ro,z
Volume=/opt/crowdsec-custom/parsers:/etc/crowdsec/parsers/s02-enrich/ansible:ro,z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target