[Unit]
Description=CrowdSec IDS Container
After=network-online.target

[Container]
Image=docker.io/crowdsecurity/crowdsec:latest
ContainerName=crowdsec
AutoUpdate=registry

# Network
Network=host

{% if caddy_crowdsec_api_key != "" -%}
# Auto-register Caddy Bouncer Key
Environment=BOUNCER_KEY_caddy={{ caddy_crowdsec_api_key }}
{% endif -%}

# Ensure Caddy collections are installed
Environment=COLLECTIONS=crowdsecurity/caddy

# Core Volumes
Volume=crowdsec-data.volume:/var/lib/crowdsec/data
Volume=crowdsec-config.volume:/etc/crowdsec

# Share Caddy logs
Volume=/var/log/caddy:/var/log/caddy:ro,z

# Inject Ansible custom configurations from /etc
Volume=/etc/crowdsec-custom/acquis.d/caddy.yaml:/etc/crowdsec/acquis.d/caddy.yaml:ro,z
Volume=/etc/crowdsec-custom/parsers:/etc/crowdsec/parsers/s02-enrich/ansible:ro,z

HealthCmd=cscli lapi status
HealthInterval=5s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target