---
services:
  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy_network

networks:
  caddy_network:
    name: caddy_network
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
