[Unit]
Description=ArchiSteamFarm
Requires=ts-asf.service
After=ts-asf.service
BindsTo=ts-asf.service
PartOf=ts-asf.service

[Container]
Image=docker.io/justarchi/archisteamfarm:latest
AutoUpdate=registry

ContainerName=asf

# Attaches ASF to the Tailscale container's network namespace
Network=container:ts-asf

# Tell Podman to natively run the process as our system user
User={{ asf_user_id }}:{{ asf_group_id }}

# We'd like to use a volume but we need to mount a file into it
# and that file needs to be editable, if we mount the file directly
# trying to modify it from the container will cause a DEVICE BUSY error
Volume=/etc/asf/config:/app/config:U,Z

DropCapability=all
ReadOnly=true

Tmpfs=/tmp
Mount=type=tmpfs,destination=/app/logs,tmpfs-mode=0755,chown=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target