[Unit]
Description=ArchiSteamFarm (ASF)

[Container]
Image=docker.io/justarchi/archisteamfarm:latest
AutoUpdate=registry
ContainerName=asf

# Network isolation via dedicated Quadlet network
Network=asf.network

# Publish IPC port to localhost only for Caddy protection
PublishPort=127.0.0.1:{{ asf_port }}:1242

# Tell Podman to natively run the process as our system user
User={{ asf_user_id }}:{{ asf_group_id }}

# Persistent config volume
Volume=/etc/asf/config:/app/config:U,Z

# Security lockdowns
DropCapability=all
ReadOnly=true

Tmpfs=/tmp
Mount=type=tmpfs,destination=/app/logs,tmpfs-mode=0755,chown=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target