[Unit]
Description=ArchiSteamFarm
Requires=ts-asf.service
After=ts-asf.service
BindsTo=ts-asf.service
PartOf=ts-asf.service

[Container]
Image=docker.io/justarchi/archisteamfarm:latest
AutoUpdate=registry

ContainerName=asf

# Attaches ASF to the Tailscale container's network namespace
Network=container:ts-asf

# Tell Podman to natively run the process as our system user
User={{ asf_user_id }}:{{ asf_group_id }}

Volume=asf-data.volume:/app/config
Volume=/etc/asf/ASF.json:/app/config/ASF.json

DropCapability=all
ReadOnly=true

Tmpfs=/tmp
Mount=type=tmpfs,destination=/app/logs,tmpfs-mode=0755,chown=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target