[Unit]
Description=Tailscale Sidecar for ASF
Wants=asf.service
Before=asf.service

[Container]
Image=docker.io/tailscale/tailscale:stable
AutoUpdate=registry

ContainerName=ts-asf
HostName=asf

# Environment Variables
Secret=ts_asf_key,type=env,target=TS_AUTHKEY
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:container
Environment=TS_SERVE_CONFIG=/config/serve.json
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_HOSTNAME=asf
Environment=TS_ACCEPT_DNS=true

# Volumes
Volume=ts-asf-data.volume:/var/lib/tailscale
# Centralized Tailscale Serve config
Volume=/etc/asf/serve.json:/config/serve.json:ro,z

# Permissions
NoNewPrivileges=true
DropCapability=all
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Tmpfs=/tmp
Tmpfs=/run

# Healthcheck
HealthCmd=tailscale status --peers=false --json | grep -q 'Online.*true'
HealthInterval=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target