services:
  ts-beszel-hub:
    image: tailscale/tailscale:stable
    container_name: ts-beszel-hub
    hostname: beszel
    environment:
      - TS_AUTHKEY={{ container_tsclient_key }}?ephemeral=false
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ./tailscale-state:/var/lib/tailscale
    configs:
      - source: tailscale_serve.json
        target: /config/serve.json
    devices:
      - /dev/net/tun
    cap_add:
      - net_admin
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "tailscale status"]
      interval: 1s
      timeout: 5s
      retries: 60

  beszel:
    image: henrygd/beszel:latest
    container_name: beszel-hub
    network_mode: service:ts-beszel-hub
    depends_on:
      - ts-beszel-hub
    volumes:
      - ./beszel_data:/beszel_data
    restart: always

configs:
  tailscale_serve.json:
    content: |
      {
          "TCP": {
              "443": {
                  "HTTPS": true
              }
          },
          "Web": {
              "$${TS_CERT_DOMAIN}:443": {
                  "Handlers": {
                      "/": {
                          "Proxy": "http://127.0.0.1:8090"
                      }
                  }
              }
          },
          "AllowFunnel": {
              "$${TS_CERT_DOMAIN}:443": false
          }
      }