[Unit]
Description=Tailscale Sidecar for Syncthing

[Container]
Image=docker.io/tailscale/tailscale:stable
AutoUpdate=registry

ContainerName=ts-syncthing

# Explicitly set hostname
Environment=TS_HOSTNAME=syncthing
HostName=syncthing

# Environment Variables
Secret=ts_syncthing_key,type=env,target=TS_AUTHKEY
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:syncthing
Environment=TS_SERVE_CONFIG=/config/serve.json
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_ACCEPT_DNS=true

# Volumes
Volume=ts-syncthing-data.volume:/var/lib/tailscale
Volume=/etc/syncthing/serve.json:/config/serve.json:ro,z

# Permissions
NoNewPrivileges=true
DropCapability=all
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Tmpfs=/tmp
Tmpfs=/run

# Healthcheck
HealthCmd=tailscale status --peers=false --json | grep -q 'Online.*true'
HealthInterval=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target