{
{% if crowdsec_enabled %}
    crowdsec {
        api_url http://crowdsec:8080
        api_key {$CADDY_CROWDSEC_API_KEY}
    }
    order crowdsec first
{% endif %}
    servers {
        metrics
    }
    log {
        output file /var/log/caddy/caddy_main.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}

:2019 {
    metrics
}

{{ domain }} {
    respond /_health 200
}

pomerium.{{ domain }} {
    reverse_proxy {{ pomerium_upstream }}
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/pomerium.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}

{% if "cockpit" in services %}
cockpit.{{ hostname }}.{{ domain }} {
    reverse_proxy {{ pomerium_upstream }}
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/cockpit.{{ hostname }}.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "netdata" in services %}

netdata.{{ hostname }}.{{ domain }} {
    reverse_proxy {{ pomerium_upstream }}
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/netdata.{{ hostname }}.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "syncthing" in services %}

syncthing.{{ hostname }}.{{ domain }} {
    reverse_proxy {{ pomerium_upstream }}
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/syncthing.{{ hostname }}.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "asf" in services %}

asf.{{ hostname }}.{{ domain }} {
    reverse_proxy {{ pomerium_upstream }}
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/asf.{{ hostname }}.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "restic" in services %}

backrest.{{ hostname }}.{{ domain }} {
    reverse_proxy {{ pomerium_upstream }}
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/backrest.{{ hostname }}.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "forgejo" in services %}

git.{{ domain }} {
    reverse_proxy forgejo:3000
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/git.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "whoami" in services %}

whoami.{{ domain }} {
    reverse_proxy whoami:8080
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/whoami.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "pocket_id" in services %}

id.{{ domain }} {
    reverse_proxy pocket-id:1411
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/id.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "pingvin_share" in services %}

share.{{ hostname }}.{{ domain }} {
    reverse_proxy pingvin-share:3000
{% if crowdsec_enabled %}
    route {
        crowdsec
    }
{% endif %}
    log {
        output file /var/log/caddy/share.{{ hostname }}.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
{% if "netbird_server" in services %}

netbird.{{ domain }} {
    @grpc header Content-Type application/grpc*
    reverse_proxy @grpc h2c://netbird-server:80

    @backend path /relay* /ws-proxy/* /api/* /oauth2/*
    reverse_proxy @backend netbird-server:80

    reverse_proxy /* netbird-dashboard:80

    log {
        output file /var/log/caddy/netbird.{{ domain }}.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
    }
}
{% endif %}
