# API Key to auth to Crowdsec with Caddy
CADDY_CROWDSEC_API_KEY=""
# API Key to crowdsec firewall bouncer
CADDY_CS_FIREWALL_BOUNCER_KEY=""

# Password for the ArchiSteamFarm Web UI (IPC)
ASF_IPC_PASSWORD=""

# These are URLs for heartbeats to be sent to HetrixTools, they are used to monitor the uptime of the services
# that are not exposed to the public internet and thus cannot be monitored by external services.
HEARTBEAT_KEEP_VM_ALIVE=""
HEARTBEAT_SYNCTHING=""
HEARTBEAT_NETDATA=""

# Encryption key for Pocket ID, it can be any string but should be kept secret and unique to your deployment
POCKET_ID_ENCRYPTION_KEY=""

# Register an OIDC app in Pocket ID for Pomerium and place the credentials here
POMERIUM_CLIENT_ID=""
POMERIUM_CLIENT_SECRET=""

# Must be a base64 encoded 32-byte string. Generate with: base64 /dev/urandom | head -c 43
POMERIUM_COOKIE_SECRET=""