---
services:
  ts-forgejo:
    image: tailscale/tailscale:stable
    container_name: ts-forgejo
    # Hostname set to 'git' so it becomes git.neko-great.ts.net
    hostname: git
    environment:
      - TS_AUTHKEY={{ container_tsclient_key }}?ephemeral=false
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ts-data:/var/lib/tailscale
    configs:
      - source: tailscale_serve.json
        target: /config/serve.json
    devices:
      - /dev/net/tun
    cap_add:
      - net_admin
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "tailscale status"]
      interval: 1s
      timeout: 5s
      retries: 60

  server:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo
    restart: always
    environment:
      - USER_UID=1000
      - USER_GID=1000
      # 1. Disable the Username/Password form entirely (Force SSO)
      #    WARNING: Ensure you have linked your Admin account before enabling this!
      - FORGEJO__service__ENABLE_BASIC_AUTHENTICATION=false
      - FORGEJO__service__SHOW_REGISTRATION_BUTTON=false

      # No OpenID Connect, only the Tailscale we configured
      - FORGEJO__openid__ENABLE_OPENID_SIGNIN=false
      - FORGEJO__openid__ENABLE_OPENID_SIGNUP=false

      # Allow new users to register, but only from external sources, and the
      # only external source we have will be tsidp as 'tailscale'
      - FORGEJO__service__DISABLE_REGISTRATION=false
      - FORGEJO__service__ALLOW_ONLY_EXTERNAL_REGISTRATION=true

      - FORGEJO__service_0x2E__REQUIRE_SIGNIN_VIEW=false
      - FORGEJO__service__REQUIRE_SIGNIN_VIEW=false

      - FORGEJO__server__DOMAIN=git.{{ domain_name }}
      - FORGEJO__server__ROOT_URL=https://git.{{ domain_name }}
      - FORGEJO__server__SSH_DOMAIN=git.{{ domain_name }}
    volumes:
      - ./forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "30002:3000"
      - "22:22"

volumes:
  ts-data:

configs:
  tailscale_serve.json:
    content: |
      {
          "TCP": {
              "443": {
                  "HTTPS": true
              },
              "22": {
                  "TCPForward": "server:22"
              }
          },
          "Web": {
              "$${TS_CERT_DOMAIN}:443": {
                  "Handlers": {
                      "/": {
                          "Proxy": "http://server:3000"
                      }
                  }
              }
          }
      }