[Unit]
Description=Forgejo Server
After=network-online.target

[Container]
Image=codeberg.org/forgejo/forgejo:14-rootless
AutoUpdate=registry
ContainerName=forgejo

# Attach to its own network instead of a sidecar
Network=forgejo.network

# Map Web UI locally for Caddy, and SSH publicly for git clones
PublishPort=127.0.0.1:{{ forgejo_port }}:3000
PublishPort=22:{{ forgejo_ssh_port }}

# Run as an unprivileged 'forgejo' user
User={{ forgejo_user_id }}:{{ forgejo_group_id }}
Environment=USER_UID={{ forgejo_user_id }}
Environment=USER_GID={{ forgejo_group_id }}
Environment=USER=forgejo

# Environment Variables
Environment=FORGEJO__service__ENABLE_BASIC_AUTHENTICATION=false
Environment=FORGEJO__service__SHOW_REGISTRATION_BUTTON=false
Environment=FORGEJO__openid__ENABLE_OPENID_SIGNIN=false
Environment=FORGEJO__openid__ENABLE_OPENID_SIGNUP=false
Environment=FORGEJO__service__DISABLE_REGISTRATION=false
Environment=FORGEJO__service__ALLOW_ONLY_EXTERNAL_REGISTRATION=true
Environment=FORGEJO__service_0x2E__REQUIRE_SIGNIN_VIEW=false
Environment=FORGEJO__service__REQUIRE_SIGNIN_VIEW=false
Environment=FORGEJO__server__DOMAIN=git.{{ domain_name }}
Environment=FORGEJO__server__ROOT_URL=https://git.{{ domain_name }}
Environment=FORGEJO__server__SSH_DOMAIN=git.{{ domain_name }}
# Listen on ports other than 22
Environment=SSH_LISTEN_PORT={{ forgejo_ssh_port }}
Environment=FORGEJO__server__SSH_PORT=22
# Use Forgejo's built-in SSH server so we don't need root/sshd
Environment=FORGEJO__server__START_SSH_SERVER=true
Environment=FORGEJO__server__BUILTIN_SSH_SERVER_USER=git

# Volumes
Volume=forgejo-data.volume:/var/lib/gitea

# Permissions
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Tmpfs=/tmp

HealthCmd=CMD-SHELL curl -fkLsS -m 2 http://127.0.0.1:3000/api/healthz > /dev/null || exit 1
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target