[Unit]
Description=Tailscale Sidecar for Forgejo

[Container]
Image=docker.io/tailscale/tailscale:stable
AutoUpdate=registry

ContainerName=ts-forgejo

# Ensure Tailscale registers cleanly as "git"
Environment=TS_HOSTNAME=git
HostName=git

# Published Ports (Handling the mapping originally defined in Compose)
PublishPort=127.0.0.1:{{ forgejo_port }}:3000
PublishPort=22:{{ forgejo_ssh_port }}

# Environment Variables
Secret=ts_forgejo_key,type=env,target=TS_AUTHKEY
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:container
Environment=TS_SERVE_CONFIG=/config/serve.json
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_ACCEPT_DNS=true

# Volumes
Volume=ts-forgejo-data.volume:/var/lib/tailscale
Volume=/etc/forgejo/serve.json:/config/serve.json:ro,z

# Permissions
NoNewPrivileges=true
DropCapability=all
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
AddCapability=NET_RAW
Tmpfs=/tmp
Tmpfs=/run

# Healthcheck
HealthCmd=tailscale status --peers=false --json | grep -q 'Online.*true'
HealthInterval=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

# I need to tailscale up it after it starts otherwise it won't reach the DNS server
# for some reason
ExecStartPost=/bin/sleep 5
ExecStartPost=/usr/bin/podman exec ts-forgejo tailscale up --accept-dns=false --advertise-tags=tag:container --hostname=git
ExecStartPost=/usr/bin/podman exec ts-forgejo tailscale up --accept-dns=true --advertise-tags=tag:container --hostname=git

[Install]
WantedBy=multi-user.target