---
- name: Get the PUID for the user
  ansible.builtin.command: id -u {{ syncthing_username }}
  register: syncthing_puid
  check_mode: false
  changed_when: false

- name: Get the PGID for the user
  ansible.builtin.command: id -g {{ syncthing_username }}
  register: syncthing_pgid
  check_mode: false
  changed_when: false

- name: Create docker-compose directory for syncthing
  ansible.builtin.file:
    owner: root
    group: root
    mode: "0755"
    state: directory
    path: /srv/syncthing

- name: Copy docker-compose files to /srv/syncthing
  ansible.builtin.template:
    owner: root
    group: root
    mode: "0644"
    dest: /srv/syncthing/docker-compose.yml
    src: docker-compose.yml.j2
  vars:
    syncthing_user_id: "{{ syncthing_puid.stdout }}"
    syncthing_user_group_id: "{{ syncthing_pgid.stdout }}"
  notify: Restart Syncthing

- name: Enable syncthing docker
  community.docker.docker_compose_v2:
    project_src: /srv/syncthing
    wait: true
    wait_timeout: 90
    build: never

- name: Setup Heartbeat Cron for Syncthing
  ansible.builtin.cron:
    name: "Syncthing Heartbeat"
    # Uses the existing Docker Healthcheck
    job: >
      docker inspect --format '{{ '{{' }}.State.Health.Status{{ '}}' }}' syncthing
      | grep -q healthy && curl -fsS -m 5 --retry 3 {{ heartbeat_syncthing }} > /dev/null
    minute: "*/5"
  when: (heartbeat_syncthing | default('')) != ""
