[Unit]
Description=Traefik Whoami

[Container]
Image=docker.io/traefik/whoami:latest
AutoUpdate=registry

ContainerName=whoami

# Bind to unprivileged port
Exec=--port {{ whoami_port }}

# Maps the port to localhost just like the compose file
PublishPort=127.0.0.1:{{ whoami_port }}:{{ whoami_port }}

# Permissions
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target