global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: '{{ inventory_hostname }}'

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['localhost:9093']

rule_files:
  - /etc/prometheus/rules/node-exporter.yml
  - /etc/prometheus/rules/google-cadvisor.yml

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets:
        {% for host, details in hostvars.items() %}
        - '{{ host }}:9100'
        {% endfor %}

  - job_name: 'cadvisor'
    static_configs:
      - targets:
        {% for host, details in hostvars.items() %}
        - '{{ host }}:9180'
        {% endfor %}
        
    metric_relabel_configs:
      - source_labels: ['container_label_com_docker_swarm_service_name']
        target_label: 'service'
      - source_labels: ['name']
        target_label: 'container'
