[Unit]
Description=Borgmatic Backup Container
After=borgmatic-build.service
Requires=borgmatic-build.service

[Container]
Image=localhost/borgmatic:latest
ContainerName=borgmatic

Secret=borg_repository_passphrase,type=env,target=BORG_PASSPHRASE

Network=host

# Flags passed to the ENTRYPOINT
Exec=--verbosity 1 --syslog-verbosity 1

# Mount the entire host filesystem safely as read-only!
Volume=/:/host:ro
# Config files and cache
Volume=/etc/borgmatic/config.yaml:/etc/borgmatic/config.yaml:ro,z
Volume=/root/.ssh:/root/.ssh:ro
Volume=borgmatic-cache.volume:/root/.cache/borg
Volume=borgmatic-config.volume:/root/.config/borg

NoNewPrivileges=true
DropCapability=all
# Allows reading files regardless of UID/GID on the host mount
AddCapability=DAC_READ_SEARCH
# Required for SSH connection handling
AddCapability=NET_RAW
ReadOnly=true
Tmpfs=/tmp

[Service]
Type=oneshot
Restart=no