[Unit]
Description=Borgmatic Backup Container
After=network-online.target borgmatic-build.service
Requires=borgmatic-build.service

[Container]
Image=localhost/borgmatic:latest
ContainerName=borgmatic

Network=host

# Flags passed to the ENTRYPOINT
Exec=--verbosity 1 --syslog-verbosity 1

# Mount the entire host filesystem safely as read-only!
Volume=/:/host:ro
# Config files and cache
Volume=/etc/borgmatic/config.yaml:/etc/borgmatic/config.yaml:ro
Volume=/root/.ssh:/root/.ssh:ro
Volume=borgmatic-cache.volume:/root/.cache/borg

[Service]
Type=oneshot
Restart=no